.bg-light {
  background-color: #3a6f9b !important;
  background-image: url(../../../assets/banner.jpg);
  background-size: 100%;
  color: white;
  padding: 20px;

  .navbar-brand {
    font-size: 25pt;
  }
}
